html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
video#bgvid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -200;
  background-size: cover;
  -webkit-filter: blur(10px) saturate(1);
}
body {
    color: #fff;
    font-family: 'Droid Sans', sans-serif;
    overflow: hidden;
    background-color: #000;
    line-height: 120%;
    font-weight: 400;
    font-size: 18px;
}
.container {
  width: 99%;
  position: absolute;
  top: 50%;
  height: 300px;
  margin: -150px 0 0 0;
  display: block;
  text-align: center;
}
h1 {
  line-height: 1em;
  font-weight: 900;
  font-size: 4em;
  text-shadow: 0px 0px 0 rgb(139,139,139),1px 1px 0 rgb(124,124,124),2px 2px 0 rgb(110,110,110),3px 3px 0 rgb(96,96,96),4px 4px 3px rgba(0,0,0,0.1),4px 4px 1px rgba(0,0,0,0.5),0px 0px 3px rgba(0,0,0,.2);
  margin: 5px;
  letter-spacing: 0.1em;
}
h2 {
    margin: 10px 0 0 0;
    font-size: 30px;
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
ul {
  list-style: none;

}
ul#mainMenu, ul#sosial {
  margin: 20px auto;
  display: table;
}
ul#mainMenu li{
  float: left;
  margin: 0 20px;
}
ul#mainMenu li {
  margin: 15px 5px;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
li#mainMenu {
    border: solid 1px #fff;
}

#mainMenu li a{
    display:block;
    width: 200px;
    text-decoration:none;
    text-transform:uppercase;
    font-weight:700;
    border:3px solid white;
    padding:20px;
    letter-spacing:0.15em;
}
#mainMenu li a:hover{
    background-color:rgba(255,255,255,0.3);
}
ul#mainMenu li a{
    color:#fff;
}
ul#sosial li {
  float: left;
  margin: 0 7px;
}
ul#sosial li a {
    color:#333;
}
ul#sosial li a:hover {
    color:dodgerblue;
}
